In [1]:
import pandas as pd

df = pd.read_csv("~/Downloads/np2017_d1_mid.csv")

In [2]:
df

,SEX,ORIGIN,RACE,YEAR,TOTAL_POP,POP_0,POP_1,POP_2,POP_3,POP_4,...,POP_91,POP_92,POP_93,POP_94,POP_95,POP_96,POP_97,POP_98,POP_99,POP_100
0,0,0,0,2016,323127513,3970145,3995008,3992154,3982074,3987656,...,449986,372625,300000,239313,186408,135797,94311,68972,44895,81896
1,0,0,0,2017,325511184,4054035,3982964,4008116,4003478,3992207,...,449945,382669,311525,246219,192531,146801,104540,70840,50486,83574
2,0,0,0,2018,327891911,4075563,4068172,3995888,4019345,4013649,...,462335,382993,320285,256011,198354,151848,113165,78659,51938,86221
3,0,0,0,2019,330268840,4095614,4089881,4082231,4006967,4029427,...,467488,393919,320884,263533,206526,156654,117240,85265,57778,87671
4,0,0,0,2020,332639102,4113164,4110117,4104058,4094281,4016919,...,464985,398712,330389,264318,212880,163348,121128,88491,62724,92064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4855,2,2,11,2056,350520,6293,6217,6146,6086,6022,...,651,571,477,410,318,273,200,159,118,214
4856,2,2,11,2057,355471,6378,6294,6219,6151,6091,...,638,586,508,413,355,271,228,166,126,227
4857,2,2,11,2058,360483,6467,6377,6296,6224,6156,...,667,572,521,442,357,299,226,187,133,247
4858,2,2,11,2059,365543,6566,6467,6379,6301,6229,...,698,598,511,453,381,302,249,187,153,269
4859,2,2,11,2060,370662,6673,6566,6469,6384,6306,...,723,625,534,447,393,323,253,202,153,290